body {
    background-color:#c0c0c0;;
}

h1 {
color: rgb(0, 0, 0);
}

h3 {
color: rgb(96, 153, 155);
}
hr {
    border-style: none;
    border-top-style: dotted; 
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    width: 50%;
}
img {
    height: 200px;
}